p.feedback_link {
    text-align center
}
header.navbar,aside.sidebar,.theme-container{
    margin-top: 100px;
}
.banner{
  background: yellow; 
  border: dashed 8px black; 
  position: fixed; 
  top: 0; 
  width: 100vw; 
  z-index: 100; 
  color: black;
  text-align: center;
  height: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
}
@media (min-width: 40em) {
    .banner{
        font-size: 1.5rem;
    }
}
