name: Deploy to GitHub pages
on:
  push:
    branches: [main]
  pull_request:
    types: [closed]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: vuepress-deploy
        uses: jenkey2011/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          TARGET_REPO: kta-20e/catshome
          TARGET_BRANCH: gh_pages
          BUILD_SCRIPT: npm i && npm run docs:build
          BUILD_DIR: docs/.vuepress/dist/
